<body>
  <h1>Welcome to YesFitness</h1>
  <p>Find or Teach your class</p>
  <a href="http://localhost:8080/login" class="button">Check it out</a>
  <br />
  <img
    src="https://firebasestorage.googleapis.com/v0/b/productyesfitness.appspot.com/o/portada.jpg?alt=media&token=6e794bcc-7486-4bef-8337-b4480b66383f"
    alt="Welcome Image"
  />

</body>