<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/{{style}}" />
  </head>
  <body>
    <h1>Unauthorized Access</h1>
    <p>You do not have permission to view this page.</p>
    <a href="/user">Go back to user Account</a>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/productyesfitness.appspot.com/o/404.png?alt=media&token=db5ae896-6a85-4e53-9d3e-fe25c2e0bb73"
      alt="unauthorized"
    />
  </body>
</html>